.design-arch-cnt{
    display: flex;
    flex-direction: column;
}

.sys-arch-cnt{
    
}

.sys-arch-cnt h1{
    text-align: center;;
}

.sysarch-btn-row{
display: flex;
justify-content: center;
}

.sysarch-btn-row button{
    background-color: var(--backgroundBlue);
    border: var(--darkBlue);
    border-radius: 1rem;
    padding: .5rem .8rem;
    margin: 0 .5rem;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
}

.sysarch-btn-row button:hover{
    background-color: var(--darkBlue);
    font-weight: 600;
    color: white;
    cursor: pointer;
}

.design-cnt{
margin: 3rem 0;
}

.design-cnt h1{
    text-align: center;
}
.ui-card-cnt{
    text-align: center;
}
.ui-card-cnt img{
 width: 50%;

}

.design-cnt alice-carousel alice-carousel__next-btn{
    position: absolute;
    top: 50%;
    right: 0;
    text-align: end;
}

.design-cnt alice-carousel alice-carousel__prev-btn{
    position: absolute;
    top: 50%;
    text-align: left;
}

@media screen and (max-width: 768px){
    .sysarch-btn-row{
        flex-direction: column;
    }

    .sysarch-btn-row button{
        margin: .5rem 2rem;
    }
    
}