.dt-navbar-cnt{
padding: 0 2rem;
display: flex;
justify-content: space-between;
position:sticky;
top: 0;
background-color: #fff;
z-index: 10;;
}

.dt-navbar-content {
display: flex;
}

.dt-navbar-content button{
background-color: transparent;
border: none;
font-size: 1rem;
font-weight: 600;
color: #000;
margin-left: 1rem;
}

.dt-navbar-content button:hover{
    cursor: pointer;
    color: var(--darkBlue);
}

@media screen and (max-width: 768px){
    .dt-navbar-content{
        flex-direction: column;
        margin: 1rem 0;
    }

    .dt-navbar-content button{
        margin: 0.3rem 0;
    }
    
}