.about-project-cnt{
    display: flex;
    flex-direction: column;
}

.overview-cnt{
    background-color: var(--backgroundBlue);
    color: var(--darkBlue);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 2rem;
    overflow: hidden;
}

.overview-logo{
    width: 40%;
}

.overview-content p:first-child{
    font-weight: bold;
    font-size: 2rem;
}

.demandiq-img{
    height: 300px;
    width: 100%;
    margin-right: 2rem;
}

.overview-card{
    background-color: var(--darkBlue);
    border-radius: 1rem;
    width: 250px;
    height: 250px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    text-align: center;
    color: #fff;
}

.overview-cards{

    display: flex;
}

.overview-cards-row{
    display: flex;
    gap: 2rem;
}

.overview-logo-container{
    width: 20%;
}

.demandiq-logo{
height: 150px;
}

.scenarioproblem-cnt {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 1rem 2rem 4rem 2rem;
}

.scenarioproblem-cnt h1{
text-align: center;
color: var(--darkBlue);
}

.scenario-row, .scenario-example-row{
    display: flex;
    gap: 1rem;
}

.scenario-item, .scenario-example{
    border-radius: 1rem;
    text-align: center;
    padding: 1rem;
    color: rgb(2, 2, 81);
    
}
.scenario-item:nth-child(1){
    background-color: rgb(209, 243, 245);
}

.scenario-item:nth-child(2){
    background-color: rgb(167, 198, 233);
}

.scenario-item:nth-child(3){
    background-color: rgb(141, 156, 248);
}



.scenario-example:nth-child(1){
    background-color: rgb(210, 235, 253);

}

.scenario-example:nth-child(2){
    background-color: rgb(105, 156, 209);

}

.scenario-img{
    height: 80px;
    width: 80px;
}

.features-cnt{
background-color: var(--backgroundBlue);
color: var(--darkBlue);
overflow: hidden;
display: flex;
justify-content: center;
}

.features-cnt h1{
    text-align: center;
}

.features-body{
    display: flex;
    color: black;
   

}

.features-body img{
    height: 400px;
    width: 400px;
    margin-right: 2rem;
    text-align: left;
    margin: 6rem 0;
}

.features-text-cnt{
    display: flex;
    margin-left: 6rem;
   
}

.features-body-text{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    color: var(--darkBlue);
    border-radius: 1rem;
    padding: 2rem;
    margin: 1rem;

}

.features-body-text h4{
    text-align: center;
}

@media screen and (max-width: 768px){
    .demandiq-logo{
        text-align: center;
        height: 120px;
    }

    .overview-cnt{
        flex-direction: column;
    }

    .features-cnt{
        padding: 2rem;
        flex-direction: column;
    }

    .features-text-cnt{
        margin: 0;
        flex-direction: column;
    }

    .features-body{
        flex-direction: column;
    }

    .features-body-text{
        margin: 1rem 0;
    }

    .features-body img{
        height: 300px;
        width: 100%;
       
    }

    .overview-cards{
        margin: 0;
    }

    .overview-logo{
        width: 100%;
    }

    .overview-cards{
        margin-top: 2rem;
        width: 100%;
      flex-direction: column;
       
    }

    .overview-cards-row{
        flex-direction: column;
        align-items: center;
    }

    .demandiq-img{
        width: 100%;
        margin: 2rem 0;
    }

    .scenario-example-row, .scenario-row{
        flex-direction: column;
    }

   
    
}