.about-project-cnt{
    display: flex;
    flex-direction: column;
}

.overview-cnt{
    background-color: var(--backgroundBlue);
    color: var(--darkBlue);
    display: flex;
    align-items: center;
    padding: 2rem;
    overflow: hidden;
}

.overview-logo{
    width: 40%;
}

.overview-content p:first-child{
    font-weight: bold;
    font-size: 2rem;
}

.demandiq-img{
    height: 300px;
    width: 100%;
    margin-right: 2rem;
}

.overview-card{
    background-color: var(--darkBlue);
    border-radius: 1rem;
    width: 250px;
    height: 250px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    text-align: center;
    color: #fff;
}

.overview-cards{
    width: 30%;
    margin: 0 4rem 0 6rem;
    display: flex;
}

.overview-logo-container{
    width: 20%;
}

.demandiq-logo{
height: 150px;
}

.scenarioproblem-cnt{

}

.features-cnt{
background-color: var(--backgroundBlue);
color: var(--darkBlue);
padding: 6rem;
overflow: hidden;
}

.features-cnt h1{
    text-align: center;
}

.features-body{
    display: flex;
    color: black;
    flex-wrap: wrap;

}

.features-body img{
    height: 400px;
    width: 400px;
    margin-right: 2rem;
    text-align: left;
    margin: 6rem 0;
}

.features-text-cnt{
    display: flex;
    margin-left: 10rem;
   
}

.features-body-text{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    color: var(--darkBlue);
    border-radius: 1rem;
    padding: 2rem;
    margin: 1rem;

}

.features-body-text h4{
    text-align: center;
}

@media screen and (max-width: 768px){
    .demandiq-logo{
        text-align: center;
        height: 120px;
    }

    .overview-cnt{
        flex-direction: column;
    }

    .features-cnt{
        padding: 2rem;
    }

    .features-text-cnt{
        margin: 0;
        flex-direction: column;
    }

    .features-body-text{
        margin: 1rem 0;
    }

    .features-body img{
        height: 300px;
        width: 300px;
        margin: 1rem;
    }

    .overview-cards{
        margin: 0;
    }

    .overview-logo{
        width: 100%;
    }

    .overview-cards{
        margin-top: 2rem;
        width: 100%;
      flex-direction: column;
       
    }

    .demandiq-img{
        width: 300px;
    }

   
    
}