.about-project-cnt{
    display: flex;
    flex-direction: column;
}

.overview-cnt{
    background-color: var(--backgroundBlue);
    color: var(--darkBlue);
    display: flex;
    padding: 2rem;
}

.overview-content p:first-child{
    font-weight: bold;
    font-size: 2rem;
}

.overview-card{
    background-color: var(--darkBlue);
    border-radius: 1rem;
    width: 250px;
    height: 250px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    text-align: center;
    color: #fff;
}

.overview-cards{
width: 100%;
overflow: hidden;
display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem
}

.demandiq-logo{
margin-top: 10rem;
height: 30%;
}

.scenarioproblem-cnt{

}

.features-cnt{
background-color: var(--backgroundBlue);
color: var(--darkBlue);
}

.features-body-text{
    display: flex;
    flex-direction: column;
    color: black;
}

@media screen and (max-width: 768px){
    .demandiq-logo{
        text-align: center;
        height: 120px;
    }

    .overview-cnt{
        flex-direction: column;
    }
    
}